language: python
sudo: false
matrix:
  include:
  - python: 3.10
  - python: 3.11
  - python: 3.12
  - python: nightly
  - python: pypy3
  allow_failures:
  - python: nightly
before_install:
- curl -sL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python - -y
- export PATH=$PATH:$HOME/.local/bin
install:
- poetry install
script:
- poetry run pytest
after_success:
- codecov
